<?xml version="1.0"?>
<ErrorResponse>
    <Error>
        <Type><%= result.type %></Type>
        <Code><%= result.code %></Code>
        <Message><%= result.message %></Message>
        <Detail/>
    </Error>
    <RequestId><%= UUID.uuid4 %></RequestId>
</ErrorResponse>
