<?xml version="1.0"?>
<GetQueueUrlResponse>
    <GetQueueUrlResult>
        <QueueUrl><%= result.queue_url %></QueueUrl>
    </GetQueueUrlResult>
    <%= Vassal.Actions.response_metadata %>
</GetQueueUrlResponse>
